.background--custom {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
}
canvas#canvas {
  z-index: -1;
  position: absolute;
  transform: rotate(0deg) scale(2) translateY(-62%);
  --gradient-color-1: #644e5b;
  --gradient-color-2: #6cc4f7;
  --gradient-color-3: #131216;
  --gradient-color-4: #f3f2ef;
  --gradient-speed: 0.000018;
}
h1 {
  color: white;
  text-align: center;
}
.card {
  width: 23%;
  height: 500px;
  background-color: black;
  margin: 20px auto;
  border: 5px solid #9da29e;
}
.container {
  width: 90vw;
  background-color: #8cb3ce;
  margin: 25px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
p {
  color: white;
  text-align: center;
}
button {
  width: 100%;
}
.price {
  color: white;
  text-align: center;
}
img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
#doombringer-text {
  color: red;
  text-align: center;
  font-size: xx-large;
}
#doombringer-img {
  display: block;
  margin: 0px auto;
}

@media screen and (max-width: 800px) {
  .card {
    width: 100%;
  }
  .container {
    flex-direction: column;
  }
}
